
/* HTML element styles */

/* Page template styles */
.subtitle {  margin:5px 0px 15px 0px;  text-align:center;  font-weight:bold;  font-size:1.0rem;  color:#aaaaaa;  }


/* New survey page */
#pageNewAutocomplete {  }
#pageNewAutocomplete    p {  margin:15px 5px 15px 5px;  }
#pageNewAutocomplete    #newQuestionForm {  background:#f0f0f0;  padding:10px;  box-shadow:0 0 15px 0 #aaaaaa;  border-radius:3px;  }
#pageNewAutocomplete        .newAutocompleteInputLabel {  display:block;  margin-top:15px;  opacity:1.0;  }
#pageNewAutocomplete        #newSurveyTitleInput {  width:calc(100% - 13px);  font-weight:bold;  }
#pageNewAutocomplete        #newSurveyIntroInput {  width:calc(100% - 13px);  }
#pageNewAutocomplete        #newSurveySubmitButtons {  margin-top:5px;  }

/* Editing page */
#pageEditAutocomplete   .Survey {  }
#pageEditAutocomplete       .freezeButton {  display:inline-block;  }
#pageEditAutocomplete        .Survey[frozen='true'] .freezeButton {  color:red;  font-weight:bold;  }
#pageEditAutocomplete       .freezeMessage {  display:inline-block;  margin-left:20px;  }
#pageEditAutocomplete       .SurveyEdit {  margin:0px 0px 30px 0px;  padding:10px;  background:#f0f0f0;  box-shadow:0 0 20px #888888;  border-radius:3px;  line-height:2.5em;  }
#pageEditAutocomplete           .SurveyTitleInput {  font-weight:bold;  }
#pageEditAutocomplete           textarea.SurveyEditInput {  border:solid 1px #cccccc;  width:calc(100% - 12px);  }
#pageEditAutocomplete       .Survey h2 {  margin:50px 0px 10px 0px;  }
#pageEditAutocomplete       .Questions {  }
#pageEditAutocomplete           .Question {  position:relative;  margin:30px 0px 60px 0px;  padding:15px 5px 15px 5px;  background-color:#f0f0f0;  box-shadow:0 0 20px #888888;  border-radius:3px;  }
#pageEditAutocomplete               .QuestionEdit {  }
#pageEditAutocomplete                   .QuestionEdit label {  opacity:1.0;  font-weight:bold;  }
#pageEditAutocomplete               input.QuestionPositionInput {  width:40px;  font-size:1.0rem;  }
#pageEditAutocomplete               textarea.QuestionEditInput {  width:calc(100% - 12px);  margin:13px 0px 0px 0px;  border:solid 1px #cccccc;  }
#pageEditAutocomplete                   .QuestionDeleteButton {  position:absolute;  right:0px;  top:5px;  padding:4px 10px 4px 10px;  box-shadow:-1px -1px 5px #bbbbbb inset;  }
#pageEditAutocomplete               .Answers {  }
#pageEditAutocomplete                   .Answer {  position:relative;  margin-top:5px;  transition:max-height 1s;  }
#pageEditAutocomplete                       .AnswerEdit {  margin:20px 0px 20px 0px;  padding:5px;  background:#f8f8f8;  box-shadow:0px 0px 10px #bbbbbb;  border-radius:3px;  line-height:2.5em;  }
#pageEditAutocomplete                           .AnswerEdit label {  opacity:1.0;  }
#pageEditAutocomplete                           input.AnswerContentInput {  line-height:1.25em;  height:1.5em;  width:calc(100% - 15px);  border:solid 1px #cccccc;  }
#pageEditAutocomplete                           [hidereasons='true']  .AnswerReasonLabel {  display:none;  }
#pageEditAutocomplete                           textarea.AnswerReasonInput {  line-height:1.25em;  height:1.5em;  width:calc(100% - 15px);  border:solid 1px #cccccc;  }
#pageEditAutocomplete                           [hidereasons='true']  textarea.AnswerReasonInput {  display:none;  }
#pageEditAutocomplete                       .AnswerEditingButtons {  position:absolute;  right:0px;  top:5px;  }
#pageEditAutocomplete                           .AnswerDeleteButton {  padding:4px 10px 4px 10px;  box-shadow:-1px -1px 5px #bbbbbb inset;  }
#pageEditAutocomplete               .NewAnswer {  margin-top:10px;  padding:2px;  }
#pageEditAutocomplete                   .NewAnswer label {  opacity:1.0;  }
#pageEditAutocomplete                   textarea.NewAnswerInput {  width:calc(100% - 10px);  height:2.0em;  border:solid 1px #cccccc;  }
#pageEditAutocomplete       .NewQuestion {  margin:50px 0px 40px 0px;  padding:20px 5px 20px 5px;  background:#f0f0f0;  box-shadow:0 0 20px #888888;  border-radius:3px;  }
#pageEditAutocomplete           .NewQuestion label {  opacity:1.0;  font-weight:bold;  }
#pageEditAutocomplete           textarea.NewQuestionInput {  border:solid 1px #cccccc;  width:calc(100% - 12px);  }
#pageEditAutocomplete       .SurveyViewButtonBar {  text-align:center;  }


/* Viewing page */
#pageViewAutocomplete   .Survey {  }
#pageViewAutocomplete       .Survey > .Message {  padding:2px;  }
#pageViewAutocomplete       .SurveyIntroduction {  margin:25px 0px 25px 0px;  padding:2px;  }
#pageViewAutocomplete           .Question {  margin:30px 0px 40px 0px;  padding:10px 5px 10px 5px;  background-color:#f0f0f0;  box-shadow:0 0 20px #888888;  border-radius:3px;  }
#pageViewAutocomplete               .Question > h2 {  margin:0px 0px 10px 0px;  font-size:1.4rem;  }
#pageViewAutocomplete               .QuestionContent {  margin:5px 0px 5px 0px;  }
#pageViewAutocomplete               .Answers {  margin:0px;  }
#pageViewAutocomplete               .Survey[frozen='true'] .Answers {  display:none;  }
#pageViewAutocomplete                   .Answer {  margin-top:5px;  cursor:pointer;  color:#0000aa;  display:table-row;  }
#pageViewAutocomplete                   .Answer:hover {  background:rgb(206,231,256);  }
#pageViewAutocomplete                       .AnswerCheckbox {  width:auto;  cursor:pointer;  display:table-cell;  }
#pageViewAutocomplete                       .AnswerContent {
                                            width:padding:5px 0px 5px 0px;  opacity:1.0;  font-size:unset;  cursor:pointer;
                                            display:table-cell;  padding:5px;
                                        }
#pageViewAutocomplete                       .suggestionReasonSeparator {  color:#888888;  font-size:0.9rem;  margin:0px 5px 0px 10px;  }
#pageViewAutocomplete                       [hidereasons='true']  .suggestionReasonSeparator {  display:none;  }
#pageViewAutocomplete               .NewAnswer {  }
#pageViewAutocomplete                   .NewAnswer label {  margin:5px 0px 3px 0px;  line-height:2.0em;  opacity:0.75;  }
#pageViewAutocomplete                   .NewAnswerInput {  width:calc(100% - 15px);  border:solid 1px #cccccc;  }
#pageViewAutocomplete                   .Survey[frozen='true'] .NewAnswerInput {  color:grey;  }
#pageViewAutocomplete                   [hidereasons='true']  .NewReasonLabel {  display:none;  }
#pageViewAutocomplete                   textarea.NewReasonInput {  padding:5px;  line-height:1.25em;  height:2.0em;  width:calc(100% - 15px);  border:solid 1px #cccccc;  color:black;  }
#pageViewAutocomplete                   .Survey[frozen='true']  textarea.NewReasonInput {  color:grey;  }
#pageViewAutocomplete                   [hidereasons='true']  textarea.NewReasonInput {  display:none;  }


/* Results page */
#pageAutocompleteResults  .Survey { }
#pageAutocompleteResults      .Questions { }
#pageAutocompleteResults          .Question {  margin:20px 0px 40px 0px;  padding:10px;  background-color:#f0f0f0;  box-shadow:0 0 20px #888888;  border-radius:3px;  }
#pageAutocompleteResults              .Question label {  opacity:1.0;  font-weight:bold;  }
#pageAutocompleteResults              .QuestionContent {  margin:5px 0px 5px 0px;  }
#pageAutocompleteResults              .Answers {  display:table;  width:calc(100% - 15px);  border-collapse:collapse;  }
#pageAutocompleteResults                  .Answers summary::marker {  content:none;  }
#pageAutocompleteResults                  .Answer {  width:100%;  }
#pageAutocompleteResults                  .Answer:hover {  background:rgb(206,231,256);  }
#pageAutocompleteResults                      .AnswerCell {  display:table-cell;  border:solid 1px #dddddd;  padding:10px;  }
#pageAutocompleteResults                      .AnswerCountBarBack {  width:100px;  }
#pageAutocompleteResults                          .AnswerCountBar {  background-color:#8888aa;  }
#pageAutocompleteResults                      .AnswerCount {  width:80px;  text-align:right;  }
#pageAutocompleteResults                      .AnswerReasons {  display:table;  margin-left:126px;  width:calc(100% - 129px);  border-collapse:collapse;  }
#pageAutocompleteResults                          .AnswerReason {  display:table-row;  }
#pageAutocompleteResults                  [hidereasons='true']  .ReasonsRow {  display:none;  }
#pageAutocompleteResults              .QuestionResultsButton {  display:none;  }


/* Overrides for wide screen */
@media (min-width:800px) {
}

