{% include 'head.html' %}
<div id=pageAboutUs>


<h1 class=title translate=yes> About Us </h1>
<div id=aboutContent>

    <p>
        {{SITE_NAME}} is presently run by me, <a href='https://www.linkedin.com/in/chad-brower-5882484' target=_blank>Chad Brower</a>.
        Here is a little history of why I consider this project important.
    </p>

    <h2> Cognitive science </h2>
    <p>
        As long as I can remember, I wanted to improve people's quality of life by helping them act smarter.
        I earned my first college degree in cognitive science, which explores the fascinating topic of how we think,
        from the neurological level, to the algorithmic level, to the psychological level. 
        I learned that our brains economize on thought as an evolutionary strategy,
        which sometimes leads us into poor decisions.
        So if human intelligence is to be improved, it is best done not through greater mental effort,
        but rather through greater efficiency.
    </p>

    <h2> Artificial intelligence </h2>
    <p>
        Machine intelligence is continually advancing, and seemed the most promising route to assisting human cognition.
        I looked for ways to improve human thinking by supplementing it with artificial intelligence and neural networks.
        I focused on the need to develop natural language understanding,
        so that AI could gain knowledge directly from the written materials which humans create for each other.
        Artificial intelligence promises both huge benefits and huge risks to humanity.
        I was confident that the risks of AI could be avoided, 
        until I saw how people handled the risks of climate change and environmental degradation.
    </p>

    <h2> Institutional decision making </h2>
    <p>
        I made some efforts to help local cities achieve cleaner transportation infrastructure.
        But it appeared to require enormous effort to create even tiny improvements.
        It was difficult to get local officials to recognize the benefit of citizens' proposals.
        And it was difficult for me to see the benefit of other people's proposals,
        even when those proposals were highly organized city plans or state propositions.
        And the situation was quite similar within the corporations where I worked.
    </p>

    <h2> Collective intelligence </h2>
    <p>
        Since government and business seemed unlikely to carefully regulate the environment or artificial intelligence,
        the most useful way to improve human intelligence was to improve our ability to self regulate.
        To make groups better at self regulating, requires better group decision making, better collective intelligence.
        The most severe problems we face, are issues caused by groups, affecting groups.
        The actions of cities, nations, and transnational businesses affect many neighboring regions and sometimes the whole globe.
    </p><p>
        Meanwhile, information technology was connecting more and more people together online,
        and there were many examples of how online platforms altered the quality of interaction between people.
        There was great opportunity to connect people in a way that improves their collective intelligence.
    </p>

    <h2> Deliberative democracy </h2>
    <p>
        Research in deliberative democracy had shown that enabling group members to exchange reasons
        in a structured way, improved the resulting group decisions in a variety of ways.
    </p><p>
        When we try to make a hard decision, one of the most common tools is to make a list of the pros and cons,
        to help us collect our facts and priorities.
        Existing forms of direct democracy, like state propositions, attempt to inform voters through a series of pro & con reasons.
        Though ballot proposition arguments are often vague or biased,
        with crowdsourcing we might tap the crowd of voters to make a list of pros and cons that most matter to those voters.
    </p><p>
        This led to the first version of {{SITE_NAME}}, a proposal with crowdsourced pros and cons.
        There were several other collective intelligence projects that reached similar solutions, like
        <a href='https://consider.it' target=_blank> Consider.it </a> ,
        <a href='https://www.tricider.com' target=_blank> Tricider </a> , and
        <a href='https://kialo.com' target=_blank> Kialo </a> .
        This convergence of solutions appears promising, 
        and so this is the area where {{SITE_NAME}} develops new tools.
    </p>

</div>


<div class=tryBottomDiv><a href='/'> Try {{SITE_NAME}} </a></div>

</div>
{% include 'foot.html' %}

